@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
/*font-family: 'Epilogue', sans-serif;*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
body{
    height: 100vh;
   
    display: flex;
    flex-direction: column;
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
}
header{

    display: flex;
    width: 100%; 
    justify-content: space-between;
    align-items: center;
   
}
.nav-list{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding: 40px;
    height: 100px;
}
.part1{
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.list-itens{
    display: flex;
    margin-left: 35px;

    
}
.x{
    display: flex;
}
.box{
    display: block;
}
.list1,.list2{
    padding-inline: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
 
}

.features{
    display: flex;
}
.burguer1{
    position: fixed;
    cursor: pointer;
    display: none;
    right: 50px;
   
}

.bar{
    display: block;
    width: 28px;
    height: 4px;
    margin: 5px;
    color: black;
    background-color: black;
    transition: all 0.5s ease-in-out;
    
}
.burguer1.active{
    background-color: white;
    width: 250px;
    top: 0;
    justify-content: center;
    align-items: center;
    padding-left: 190px;
    padding-top: 40px;
    height: 200px;
    right: 0;
}
.burguer1.active .bar:nth-child(2){
    opacity: 0;
    }
    .burguer1.active .bar:nth-child(1){
        transform: translateY(9px) rotate(50deg);
        
     }
     .burguer1.active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-50deg);
        
     }
.features{
    padding: 10px;
}
.line{
    padding-left: 6px;
}
.box{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 180px;
    top: 130px;
    left: 130px;
    background-color: white;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 56px, 
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
    transition: 0.3s;
}
.list1.active .box{
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 130px;
    visibility: visible;
    opacity: 1;
}
.box2{
    
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 160px;
    top: 140px;
    left: 350px;
    background-color: white;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 56px, 
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
    transition: 0.3s;
    
}
.list2.active .box2{
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 350px;
    visibility: visible;
    opacity: 1;
}
.list2.active .x .arrow2{
    transform: rotate(180deg);
}
.list2.active .x{
    align-items: center;
}
.l1{
    padding-inline: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    
    

}
.l1-links{
    text-decoration: none;
    font-weight: 600;
    color: hsl(0, 0%, 41%);
    font-size: 20px;
    
    
    

}
.arrow{
    margin-left: 8px;
    height: 9px;
}
.l1-link1, .l1-link2{
    text-decoration: none;
    font-weight: 600;
    color: hsl(0, 0%, 41%);
    display: flex;
    font-size: 20px;
    align-items: center;
}
.login a{
 text-decoration: none;
 font-weight: 600;
 color: hsl(0, 0%, 41%);
 padding-inline: 30px;
 font-size: 20px;

}
.register{
    border: 2px solid hsl(0, 0%, 41%);;
    padding: 15px;
    border-radius: 15px;
}

a:hover{
color: black;
}
.register:hover{
    border-color: black;
}
main{
    display: flex;
    width: 100%;
    margin: 11vw 5.0vw 5vw 4.5vw;
}

.card1{
    width: 60%;
    padding: 70px;
}
.card2{
    width: 40%;
}
.text-1 h1{
    font-size: 100px;
    margin-bottom: 50px;
}
.img-3{
    width: 580px;
    height: 720px;
}

.text-1 p{
    width: 600px;
    font-size: 25px;
    line-height: 40px;
    color: hsl(0, 0%, 41%);
    margin-bottom: 70px;
}

.text-1 a{
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 10px;   
    padding: 20px 25px 20px 25px; 
    border: 2px solid black;
   
}
.text-1 a:hover{
    background-color: white;
    color: black;
  
    transition: 1s;
}
.text-1{
    margin-bottom: 120px;
}
.logos{
    display: flex;
    width: 70%;
    align-items: center;
    
}
.logo-1{
margin-right: 50px;
}
.x2{
    width: 120px;
}
.arrow.active{
    transform: rotate(180deg);
    
}
.list1.active .x{
    align-items: center;
}
.list1.active .x .arrow2{
    transform: rotate(180deg);
}
.sidebar {
    position: fixed;
    top: 100px;
    right: -900px;
    width: 250px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    transition: right 0.3s;

    
}
.image-3{
    display: flex;

    justify-content: center;
}
.sidebar.active{
    right: 0;
}
.nav-bar-mobile{
    position: absolute;
    padding: 20px;
    right: -600px;
    top: 65px;
    gap: 0;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    flex-direction: column;
    width: 150px;
    transform: 0.3s;
}
.features-mobile.active .nav-bar-mobile{
    right: 50px
}
li{
    list-style-type: none;
}
.nav-bar-mobile li a, .nav-bar-mobile2 li a{
    text-decoration: none;
    font-weight: 400;
    color: hsl(0, 0%, 41%);
    display: flex;
    align-items: center;
}
.features-mobile.active{
    margin-bottom: 200px;
}
.xm{
    margin-right: 15px;
    width: 20px;
  
}
.xd{
    width: 20px;
    height: 27px;
    margin-right: 15px;
}
.p-2{
    font-size: 16px;
}
.nav-bar-mobile li{
    margin-bottom: 20px;
}
.sidebar{
    display: none;
}
.features-mobile,.company-mobile{
    margin-bottom: 20px;
}
.lin{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.lin .register{
    width: 200px;
    
}
.lin a{
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}
.features-mobile.active .arrow2{
   transform: rotate(180deg);
}
.arrow2{
    margin-left: 15px;
}
.company-mobile.active .arrow2{
    transform: rotate(180deg);
}
@media screen and (max-width:1000px){
    .lin{
        margin-top: 110px;
    }
    .text-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .burguer1{
        display: none;
    }
    .list-itens{
        display: none;
    }
    .sidebar{
        display: block;
    }
    .login{
        display: none;
    }
    .burguer1{
        display: block;
    }
    main{
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
        width: 100%;
        margin-top: 130px;
    }
    .card1,.card2{
        width: 100%;
    }
    .img-3{
        width: 400px;
        height: 400px;
    }
    .text-1 h1{
        font-size: 30px;
    }
    .text-1 p{
        width: 300px;
        font-size: 14px;
    }
    .text-1{
        align-items: center;
        text-align: center;
    }
    .logos{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 100px;
    }
    .logo-1{
        width: 80px;
        margin-bottom: 30px;
    }
    .card1{
        padding: 30px;
    }

    .x-1,.x-2{
        display: flex;
    }
    .nav-bar-mobile2{
        position: absolute;
        opacity: 0;
        right: -200px;
        background-color: rgba(255, 255, 255, 0);
        padding: 1.5rem 2rem 1.5rem 2rem;
        border-radius: 10px;
        transition: 0.3s;
    }
    .company-mobile.active .nav-bar-mobile2{
        display: flex;
        flex-direction: column;
        right: 70px;
        visibility: visible;
        opacity: 1;
    }
    .nav-bar-mobile2 li{
        margin-bottom: 20px;
    }
   .l1-link1,.l1-link2{
    font-weight: 400;
   }

}
.l1-link2{
    margin-bottom: 30px;
}
.a-2{
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}
.company-mobile{
    padding: 10px 10px 10px 0px;
}
.company-mobile.active {
    margin-bottom: 150px;
}

@media screen and (max-width:600px){
    main{
        width: 100%;
    }
  
}
@media screen and (max-width:400px){
    .img-3{
        width: 320px;
        height: 320px;
    }
  
}